node_modules/
.pnpm-store/
.env
.env.*
!.env.example
data/
artifacts/
cache/
out/
build/
broadcast/
coverage/
*.log
.DS_Store
.venv/
myenv/
__pycache__/
*.pyc
venv/
.env
id_github_anon
id_github_anon.pub
